body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
}
.container {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 70px;
  margin-bottom: 20px;
}
.second-card {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 70px;
  margin-bottom: 20px;
}
.img-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 25px;
}
.heading {
  display: flex;
  font-family: "Roboto";
  font-size: 30px;
  justify-content: center;
}
.text {
  font-size: 40px;
}
.top {
  background-color: black;
  color: #eb4c6b;
  margin-top: 0px;
  font-size: 12px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  height: 400px;
  max-height: fit-content;
  text-align: center;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.badge {
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.discount {
  color: #8f8c8c;
}

.inline {
  display: inline-block;
  justify-content: space-between;
  margin: 3px;
}

.line-through {
  text-decoration: line-through;
}

.discount {
  color: #8f8c8c;
}

.choice {
  width: 100px;
  margin: 10px;
  border-radius: 5px;
}

.offer {
  color: red;
}

.add-to-cart {
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #45a049;
}

.image-container {
  position: relative;
  width: 200px;
}
.img {
  width: 150px;
  height: fit-content;
}

.badge-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.header-bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 30px;
}
.divider {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.header-bottom-text {
  font-size: 16px;
  color: black;
}

.logo-image {
  width: 50px;
  margin-right: 20px;
  pointer-events: none;
}
.custom-appbar {
  background-color: transparent !important;
}
.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}
.header-bottom-text1 {
  font-size: 30px;
  font-family: Poppins;
}
.header-bottom-para {
  margin-top: 0px;
  width: 55%;
  font-size: 16px;
  margin-bottom: 40px;
}
.top-card {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.bottom-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
  gap: 20px;
}
.bottom-sub-card {
  width: 1600px;
}
.arrow-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}
.i-card {
  display: flex;
  flex-direction: column;
}
.sub-card {
  margin-bottom: 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-card {
  width: 100px;
  height: 200px;
  background-color: brown;
}
.main-hide-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hide-card {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: 100px;
  }
}
.recommended-wrapper {
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}

.details-card {
  position: relative;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
}
.button {
  padding: 12px;
  width: 150px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 10px;
  border: 1px solid;
  color: #8f8c8c;
}
.bottom-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}
.bottom-sec-main {
  background-color: black;
  color: #ddd;
  padding-top: 2px;
  padding-right: 80px;
  padding-left: 70px;
  padding-bottom: 50px;
}
